.navbar {
    background-color: #000000;
    border-radius: 23px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    list-style: none;
    float: left;
    margin: 17px 15px;
}
.navbar li a {
    padding: 5px 5px;
    text-decoration: none;
    color: #ff6600;
}
.navbar li a:hover{
    background-color: #00b3ff;
}
.search {
    color: #ff6600;
    padding: 7px 75px;
    float: right;
}
.navbar input{
    border: 5px solid black;
    border-radius: 21px;
    padding: 5px 4px ;
    width: 150px;
}