.box{
    background-color: blue;
    color: aqua;
    text-align: center;
    font-size: 50px;
}
@media(max-width:500px){
    #box1{
        background-color: red;
    }
    #box3{
        color: black;
    }
}
@media(max-width:600px) and (min-width:200px){
    #box2{
        background-color: black;
    }
}